body{ background: #3c3c3c; }

.no-padding{padding: 0 !important;}

/*Header*/
.navigation{ height: 62px; }

.navbar{
    background: none;
    background-image: url(outlets.png);
    border-bottom: 2px solid#555;
}

.navbar-brand{
    padding: 0;
    margin-left: 10px!important;
    height: 60px !important;
}

.navbar img{
    height: 100%;
}

.navbar-nav{
    margin-left: 70px;
}

.navbar li{
    border-left: 1px solid#555;
    padding: 5px 15px;
}

.navbar li:last-child{
     border-right: 1px solid#555;
 }

.navbar li a{
    color: #fff !important;
    font-size: 12px;
    font-weight: bold;
}

.navbar li a:active{
    background: none !important;
}

.navbar li a:hover{
     color: #2a88bd !important;
 }

/*Content*/
.doto-sidebar{
    width: 29%;
    margin-right: 1.5%;
    float: right;
    padding: 0 10px 15px 10px;
}

.ad-container{
    border: 1px solid#555;
}

/*Start Banner*/
.banner-header{
    border-bottom:1px solid#666;
    padding:0;
    margin-bottom:5px;
}

.current-roster img{
    height:64px;
    max-width:100%;
}

.roster-image{
    width:auto;
    max-width:50%;
    padding:0px;
}

.roster-info{
    padding: 10px 0px;
    overflow: hidden;
    white-space: nowrap;
}
/*End Banner*/

/*Team Banner*/
.team-banner{
    background:#292929;
    border-radius:8px;
    padding:8px;
    font-family: Helvetica;
    color: #ccc;
}
.team-banner-logo{
    width:auto;
    max-width:33%;
    padding:0;
}
.team-banner-info{
    overflow:hidden;
    white-space:nowrap;
}
.team-banner a{
    color: #ccc !important;
}
.team-matches{
    border-bottom:1px solid#666;
}
.team-matches:last-child{
    border-bottom: none;
}
.team-matches span{
    font-size: 12px;
}
/*Table*/
.table-admin{
    background: #eee;
    text-align: center;
}
.table-admin th{
    text-align: center !important;
}


.table-rank-container{
    padding: 0 !important;
}
.table-rank{
    background: #3c3838;
}
.table-rank tr{
    padding: 2px 5px;
}
.table-rank tr:nth-child(2n+1) {
    background: #2b2a2a !important;
}
.table-rank td, .table-rank th {
    padding: 4px 10px !important;
    border: 1px solid#777 !important;
    color: #fff;
    font: 12px 'Helvetica' !important;
    vertical-align: middle !important;
 }
.table-rank a{
    color: #fff !important;
}

.rankingTeam:hover{
    border:2px solid#567eae;
    cursor:pointer;
}

.scoreboard{
    height: 96px;
    width: 100%;
    background: #292929;
    border-radius: 8px;
}
.matchRightside, .matchLeftside {
    width: 36%;
}
.team1Name, .team2Name {
    float: left;
    line-height: 8;
    height: 84px;
    margin-left: 4%;
    overflow: hidden;
    width: 60%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.team2Name {
    margin-left: 0;
    margin-right: 4%;
}
.matchRightside img, .matchLeftside img {
    max-width: 100%;
}
.matchScore {
     width: auto !important;
 }
.matchScore .position {
    height: 64px !important;
    width: 48px !important;
    top: 8px !important;
}
.matchScore .digit {
    top: 0px !important;
    opacity: 1 !important;
    height: 64px !important;
    width: 48px !important;
    line-height: 1.4 !important;
    font-size: 45px !important;
}
.scoreboard img {
    height: 84px;
    margin-top: 6px;
}
.team1Name span, .team2Name span {
    color: #bbb;
    font: 28px Helvetica;
    text-shadow: 1px 1px#000;
}
.match-roster{
     border-top: 1px solid #444;
 }
.match-roster:first-child{
    border-top: none;
}

.dropdown-menu{
    left: 37% !important;
}
/*Footer*/
footer {
    background-image: url(outlets.png);
    width: 100%;
    height: 300px;
    border-top: 2px solid#666;
    overflow: hidden;
    position: relative;
}
#copyright {
    background: #414141;
    height: 40px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 4px solid#3d3d3d;
}
.rights {
    color: #ddd;
    position: relative;
    top: 10px;
    left: 20px;
    font: 14px 'Verdana';
}

.clear{
    clear: both;
}

.dropdown li{
    border-bottom: 1px solid#ddd;
    padding: 6px 4px;
}

.dropdown li:last-child{
    border: none;
}